<div class="message <%= false ? "right" : "" %>">
  <div class="message-time"><%= message.created_at.strftime("%H:%M") %></div>
  <%= cl_image_tag message.user.photo, class: "avatar-very-small" %>
  <div class="message-content"><%= message.content %></div>
  <audio class="player" controls src="https://res.cloudinary.com/bebskasse/video/upload/v1535532312/charlie-puth-attention-voice-note.mp3">
  </audio>
</div>
