<div class="position-relative" style="width: 146px; height: 146px;">
  <div class="position-absolute pulse"></div>
  <%= cl_image_tag sender_photo(:thumnail), class: "avatar-big position-absolute z-index-1", :secure => true %>
</div>
<p class="title-small grey-dark margin-top-small"><%= sender_name %></p>
