<h3>My Staff</h3>
@events = current_user.events


<h3>My channels </h3>
@event = Event.find
@channels = current_user.chatrooms.where(event_id: 1)
<%= @channels.each do |channel| %>
<%= redirect_to chatroom_path(@channel) %>
<% end %>

<h3>Direct message</h3>
