<!-- <%# if user_signed_in? %>
  <div class="sidebar-collapse" id="sidebar">
  <div class="container">
    <div class="row">
      <div class="text-right">
         <%= image_tag 'talkeri-icon.png', width: 30, height: 35, class:"margin-large position-absolute", id:"logo-closing" %>
      </div>
      <br>
      <div class="col-xs-3" >
        <%#= cl_image_tag current_user.photo, class: "avatar-very-small position-absolute"%>
        <div class="text-center">
          <%#= current_user.full_name %>
        </div>
      </div>
  </div>

      <h3>SERVICES</h3>
      <div class="container font-size-regular font-weight-medium">
        <p>My events</p>
        <p>My staff</p>
        <p>My setting</p>
      </div>

      <h3>CHANNELS</h3>
      <div class="container">
          <%# @channels = current_user.chatrooms.where(event_id: 1) %>
          <%#@channels.each do |channel| %>
          <p class="font-size-regular font-weight-medium grey link-text-decoration-none"><#%= link_to "#{channel.name}", chatroom_path(channel) %><p>
          <%# end %>
      </div>

      <h3>DIRECT CHANNELS</h3>
      </div>
  </div>
<%# end %>
 -->
