<%= render 'shared/navbar' %>
<div class="container">
  <div class="row value-proposition">
    <div class="flexbox flexbox-column text-center">
     <h1 class="font-family-title font-weight-medium font-size-largest padding-top-large">
        <div class="title-large black">In real time like a walkie talkie 🚀</div>
     </h1>
     <h2 class="font-family-title title-medium grey font-weight-regular margin-bottom-largest margin-top-large">
      Talkeri is where, Staff, Useful information and Instant conversational tools <br>come together to get things done
    </h2>
     <div class="flexbox flexbox-justify-center">
        <%= link_to events_path do %>
           <button class="button-pink button-principal font-size-regular font-family-normal" style="min-width:120px;border-radius:50px;padding:10px 40px">
             <span class="white font-weight-bold ">Organize your staff</span>
             <span class="white font-weight-light">- for free</span>
           </button>
        <% end %>
     </div>
    </div>
  </div>
</div>

<div class="text-center margin-top-huge">
  <%= image_tag 'cloud.png', width: 1000; %>
</div>

