.card-login {
  width: 400px;
  background-color: white;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  border-radius: 4px;
}

.card-signup {
  width: 900px;
  background-color: white;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.06);
  border-radius: 4px;
}

.instruction-card {
  min-width: 94%;
  height: 36px;
  box-shadow: 0px 0px 4px #ADADAD;
  border: none;
  border-radius: 5px;
}

.alert-card {
  background-color: #f57779;
  border-radius: 5px;
  width: 94%;
  height: 49px;
  box-shadow: 0px 0px 4px #f57779;
}

.alert-card-solved {
  background-color: #69e481;
  border-radius: 5px;
  width: 351px;
  height: 49px;
  box-shadow: 0px 0px 4px #000000;
}
