#alert_content {
  border: 1px solid #CCD1D9;
  border-radius: 50px;
  width: 220px;
  height: 34px;
  box-shadow: inset 1px 1px 3px #CCD1D9;
  margin: 0px;
}

.message-input {
  border: none;
  box-shadow: none;
  outline: none !important;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none !important;
}
