.link-text-decoration-none a {
  text-decoration: none;
  color: grey;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: grey;
    text-decoration: none;
    opacity: 1;
  }
}
