.margin-bottom-small {
    margin-top: 8px;
}

.margin-bottom-normal {
    margin-bottom: 11px;
}

.margin-bottom-largest {
    margin-bottom: 40px;
}

.margin-top-small {
    margin-top: 8px;
}

.margin-top-normal {
    margin-top: 15px;
}

.margin-top-large {
    margin-top: 20px;
}

.margin-top-huge {
    margin-top: 50px;
}

.margin-right-small {
    margin-right: 8px;
}

.margin-right-larger {
    margin-right: 24px;
}

.margin-left-small {
    margin-left: 8px;
}

.margin-left-larger {
    margin-left: 24px;
}

.margin-left-huge {
    margin-left: 50px;
}
