.margin-bottom-small {
    margin-bottom: 8px;
}

.margin-bottom-normal {
    margin-bottom: 11px;
}

.margin-bottom-22 {
    margin-bottom: 22px;
}

.margin-bottom-largest {
    margin-bottom: 40px;
}

.margin-top-small {
    margin-top: 8px;
}

.margin-top-normal {
    margin-top: 15px;
}

.margin-top-large {
    margin-top: 20px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-huge {
    margin-top: 50px;
}

.margin-right--12 {
  margin-right: -12px;
}

.margin-right-small {
  margin-right: 8px;
}

.margin-right-larger {
    margin-right: 24px;
}

.margin-right-huge {
    margin-right: 50px;
}

.margin-left-small {
    margin-left: 8px;
}

.margin-left-larger {
    margin-left: 24px;
}

.margin-left-huge {
    margin-left: 50px;
}

.margin-none {
  margin: 0px;
}

.margin-large {
  margin: 20px
}

.margin-auto {
  margin: 8px auto;
}

.margin-auto-margin-top {
  margin: 50px auto;
}
