.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-text {
      background-color: #F2F9FC;
    }
  }
}

.message-text {
  background-color: white;
  box-shadow: 0px 0px 4px #ADADAD;
  border-radius: 0px 15px 15px 15px;
  padding: 8px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.chat-alert {
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
}

.new-message {
  width: 94%;
}

