.modal-alert {
  width: 265px;
  height: 351px;
  border-radius: 9px;
}

.modal-alert-header {
  padding: 0;
  border-bottom: none;
}

.modal-alert-success {
  width: 265px;
  height: 205px;
  border-radius: 9px;
}
