.padding-top-huge {
    padding-top: 60px;
}

.padding-top-large {
    padding-top: 20px;
}

.padding-huge {
    padding: 40px;
}

.padding-sides-huge {
  padding-left: 42px;
  padding-right: 42px;
}

.padding-height-small {
  padding-top: 8px;
  padding-bottom: 8px;
}
