.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed !important;
}

.icon-voice-center {
  top: 26px;
  left: 31px;
}

.icon-voice-small-center {
  top: 14px;
  left: 15px;
}

.icon-chat-center {
  top: 26px;
  left: 22px;
}

.icon-chat-small-center {
  top: 13px;
  left: 11px;
}

.icon-image-small-center {
  top: 12px;
  left: 11px;
}

.button-icon-center {
  top: 11px;
  left: 11px;
}

.icon-alert {
  top: 13px;
  left: 19px;
}

.icon-solved {
  top: 15px;
  left: 34px;
}

.alert-time {
  right: 13px;
  top: 15px;
}

.alert-creator {
  top: 10px;
  left: 12px;
}

.solver-avatar {
  left: 18px;
}

.channel-letter {
  top: 10px;
  left: 24px;
}

.channel-title-position {
  top: 24px;
  left: 56px;
}

.create-alert-icon {
  right: -8px;
  top: 5px;
}

.icon-send-small-center {
  top: 11px;
  left: 10px;
}
