.orange {
  color: #fdb657;
}

.green {
  color: #7fe37e;
}

.blue {
  color: #82cbf8;
}

.yellow {
  color: #edf67d;
}

.pink-light {
  color: #f896d8;
}

.pink-dark {
  color: #ff108c;
}

.purple-light {
  color: #ca7df9;
}

.purple-medium {
  color: #724cf9;
}

.purple-dark {
  color: #564592;
}

.grey-light {
  color: #f6f6f6;
}

.grey {
  color: #7f7f7f;
}

.grey-dark {
  color: #555459;
}

.white {
  color: white;
}

.black {
  color: black;
}
