#sidebar {
  height: 100vh;
  width: 170px;
  margin-left: 10px;
  color: #555459;
  font-family: 'Open Sans', sans-serif;
  border-right: 1px solid #E6E6E6;
  position: relative;
}

#box {
  display: flex;
}

#sidebar.sidebar-collapse {
  margin-left: -170px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 20px;
}

p {
  font-size: 14px;
}



