#sidebar {
  height: 100vh;
  width: 80vw;
  color: #555459;
  font-family: 'Open Sans', sans-serif;
  border-right: 1px solid #E6E6E6;
  position: relative;
  margin-right: 0px;
  background-color: white;
  z-index: 30;
  overflow-y: scroll;
  overflow-x:hidden;
  transition: 0.5s;
  &.absolute {
    position: absolute;
  }
}

#box {
  display: flex;
}

.chatrooms-toggle {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
  }

#sidebar.sidebar-collapse {
  margin-left: -80vw;
  z-index:-1;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #5b585f;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.page-container {
  width: 100vw;
}

li {
    margin: 0;
    padding-left: 22px;
}

a {
    color: #5b585f;
    font-family: 'Open Sans', sans-serif;
}
a:hover {
    color: #724cf9;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

i {
  margin-right: 4px;
}

ul {
  list-style-type: none;
}

.chatrooms-toggle {
  padding-left: 20px;
}

span.fa-flag {
  position: relative;
  font-size: 0.8em;
  cursor: pointer;
  color: #ef5f5f;
  right: -2px;
  top: -1px;
}


