.title-large {
  font-size: 45px;
  line-height: 60px;
}

.title-medium {
  font-size: 22px;
  line-height: 30px;
}

.title-small-1 {
  font-size: 17px;
  line-height: 20px;
}

.title-small {
  font-size: 18px;
  line-height: 20px;
}

.font-size-small {
  font-size: 11px;
  line-height: 20px;
}

.font-size-normal {
    font-size: 14px;
    line-height: 16px;
}

.font-size-regular {
    font-size: 16px;
    line-height: 1.8em;
}

.font-size-medium {
    font-size: 24px;
    line-height: 30px;
}

.font-size-large {
    font-size: 40px;
    line-height: 48px;
}

.font-size-largest {
    font-size: 45px;
    line-height: 60px;
}

.font-weight-light {
    font-weight: 300!important;
}

.font-weight-regular {
    font-weight: 400!important;
}

.font-weight-medium {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 700!important;
}
